<h1>Hello from Rails!</h1>

<p>
  It is now <%= @time %>
</p>

+1 hour: <%= 1.hour.from_now.localtime %>

<p>
  Time to say <%= link_to "Goodbye", say_goodbye_path %>!
</p>

List of files:
<% @files.each do |file| %>
  <ul>
    <li><%= file %></li>
  </ul>
<% end %>
